[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytz = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
alembic = "*"

[requires]
python_version = "3.10"
